body {
    background: #2F4F4F;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: #000;
}

ul.navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    text-align: center;
}

.navlist li {
    float: left;
    font-size: 20px;
}

.navlist li a {
    display: block;
    padding: 10px 80px;
    text-decoration: none;
    color: crimson;
    text-align: center;
}

.navlist li a:hover {
    background-color: white;
    color: black;
}

.intro {
    margin-top: -30px;
    text-align: center;
}

h1 {
    font-size: 50px;
    letter-spacing: 5px;
    color: rgb(162, 253, 177);
}

h2 {
    font-size: 40px;
    letter-spacing: 5px;
    color: coral;
}

h3 {
    margin-top: -30px;
    font-size: 15px;
    letter-spacing: 5px;
    color: rgb(115, 179, 126);
}

.intro img {
    width: 35%;
    border-left: solid 20px black;
    border-right: solid 20px black;
}

.career {
    border: solid 5px black;
    display: inline-block;
}

.career h2 {
    margin-top: 0px;
    padding-left: 10px;
    padding-top: 10px;
    width: 55%;
    text-align: center;
    margin-bottom: 0;
}

.careerbio {
    width: 55%;
    padding-left: 10px;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    line-height: 40px;
    letter-spacing: 1px;
}

.careerlist {
    margin-top: 20px;
    display: inline-block;
}

.career img {
    width: 25%;
    float: right;
    margin: -30px 90px 20px 0;
    border-right: solid 20px black;
}

.hobbies {
    border: solid 5px black;
    margin-top: 5px;
    text-align: right;
    overflow: auto;
}

.hobbies h2 {
    margin-top: 0;
    margin-left: 45%;
    width: 55%;
    text-align: center;
    margin-bottom: 0;
}

.hobbies > img {
    width: 40%;
    float: left;
    margin: -10px 0 20px 30px;
    border-left: solid 20px black;
}

.hobbies div img {
    width: 50%;
    margin-right: 35px;
    margin-bottom: 15px;
}
.hobbies p {
    margin-left: 45%;
    width:55%;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 1px;
}

.cats {
    border: solid 5px black;
    margin-top: 5px;
}

.tango {
    border: solid 5px black;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    display: inline-block;
    width: 48%;
    z-index:-1;
}

.texas {
    border: solid 5px black;
    width: 48%;
    display: inline-block;
    position: relative;
    left: 25px;
    top: -40px;
    z-index:-1;
}

.tango h2 {
    margin-top: 5px;
    text-align: center;
}

#tangoprowl {
    width: 40%;
    display: inline-block;
    margin-left: 10px;
    position: relative;
    z-index:-1;
}

#tangoblurb {
    display: inline-block;
    margin-top: 0;
    position: absolute;
    width: 25%;
    padding-left: 10px;
    letter-spacing: 1px;
    line-height: 20px;
}

#tangocute {
    width: 60%;
    margin-left: 75px;
}

.texas h2 {
    text-align: center;
    margin-top: 0;
}

#texasfern {
    width: 50%;
    margin-left: 10px;
    margin-top: -10px;
    display: inline-block;
    position: relative;
    z-index:-1;
}

#texasblurb {
    margin-top: 5px;
    margin-left: 5px;
    display: inline-block;
    width: 45%;
    position: absolute;
    letter-spacing: 1px;
    line-height: 20px;
}

#texaslying {
    width: 45%;
    margin-left: 10px;
}

footer {
    width: 100%;
    text-align: center;
    background-color: #000;
    color: white;
}

.finalpic img {
    width: 100%;
}

/* body {
    background: #2e373c url("pics/jordan_pic.jpg") center top;
    background-size: 500px 500px;
    background-repeat: no-repeat;
    
    
}

*/

/* h1 {
    color: white;
    letter-spacing: 5px;
}

h3 {
    color: black;
    text-align: center;
    line-height: 10px;
    margin-left: 175px;
}

.leftcatpics {
    max-width: 50%;
    float: left;
    margin: 0 20px 50px 50px;
    overflow: auto;
}

.rightcatpics {
    max-width: 50%;
    float: right;
    overflow: auto;
    margin: 0 50px 20px 50px;
}

.maincatpic {
    max-width: 100%;
    max-height: 100%;
}
*/