body {
    background: #2e373c url("pics/jordan_pic.jpg") center top;
    background-size: 500px 500px;
    background-repeat: no-repeat;
    
    
}

h1 {
    color: white;
    letter-spacing: 5px;
}

h3 {
    color: black;
    text-align: center;
    line-height: 10px;
    margin-left: 175px;
}

.leftcatpics {
    max-width: 50%;
    float: left;
    margin: 0 20px 50px 50px;
    overflow: auto;
}

.rightcatpics {
    max-width: 50%;
    float: right;
    overflow: auto;
    margin: 0 50px 20px 50px;
}

.maincatpic {
    max-width: 100%;
    max-height: 100%;
}